.translation {
    padding: 100px 0;
    background-color: $white;

    &__title {
        margin-bottom: 55px;
        max-width: 650px;
    }

    &__subtitle {
        margin-bottom: 35px;
    }

    &__text {
        margin-bottom: 44px;
    }

    &__box {
        background: $white;
        border-radius: 10px;
        padding: 30px;
        padding-right: 40px;
        overflow: hidden;
        max-width: 440px;
        width: 100%;
    }

    &__box-head {
        display: flex;
        align-items: center;
        margin-bottom: 34px;
        svg {
            flex-shrink: 0;
            margin-right: 25px;
        }
        span {
            font-weight: bold;
            font-size: 20px;
        }
    }

    &__box-items {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__box-item {
        margin: 15px;
        width: calc(50% - 30px);
        font-size: 20px;
        line-height: 33px;
    }

    &__box-key {
        color: #B7B7B7;
    }

}